*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: justify;
}
#fundo1{
    align-items: center;
    justify-content: center;
    margin-left:32px ;
}
#topo{
    position: relative;
    background-color:aquamarine;
    width: 1450px;
    height: 200px;
    text-align: center;
    font-family:serif;
    font-size: 30px;
    float: left;
}
#fundo{
    position: relative;
    background-color:rgb(83, 157, 186);
    width: 1450px;
    height: 480px;
    clear: left;
    font-family:serif;
    font-size: 20px;
    text-align: justify;
    display: flex;
    justify-content: center
}
#conteudo{
    position: relative;
    background-color:grey;
    width: 1000px;
    height: 480px;
    font-family:serif;
    font-size: 20px;
    text-align: center;
}
#caixa1{
    position: relative;
    background-color:white;
    width: 100px;
    height: 100px;
    margin-top: -480px;
    margin-left: 1325px;
}
#caixa2{
    clear: left;
    position: relative;
    background-color:white;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 1325px;
}
