*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: serif;
}

#container{
    position: relative;
    width: 1000px;
    height: 640px;
    margin: auto;
    background-color: #ccc;
    margin-top: 5px;
    float: left;
    margin-left: 18%;
}
#topo{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgb(4, 222, 150);
    text-align: center;
    font-size: 25px;
}
#le{
    position: relative;
    width: 150px;
    height: 550px;
    background-color:lightskyblue ;
    top: 0%;
}
#conteudo{
    position: relative;
    width: 700px;
    height: 550px;
    background-color: grey;
    margin-top: -550px;
    margin-left: 150px;
}
#ld{
    position: relative;
    width: 150px;
    height: 550px;
    background-color: lightskyblue;
    margin-left: 850px;
    margin-top: -550px;
}
#caixa1, #caixa2{
    width: 145px;
    height: 145px;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 3px;
}
#rodape{
    position: relative;
    width: 1000px;
    height: 80px;
    background-color:deepskyblue;
    margin-top: -150px;
    clear: left;
    z-index: 1;
    margin-left: 18%;
}
#img{
    position: absolute;
    width: 120px;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    left: 750px;
}