*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

#fundo{
    position: relative;
    width: 1000px;
    height: 700px;
    background-color: rgb(247, 246, 246);
    margin-left: 250px;
    margin-top: 10px;
}

#camada1{
   position: relative;
    width: 300px;
    height: 200px;
    background-color: blue;
    float: left;
}
#camada2{
    position: relative;
    width: 700px;
    height: 200px;
    background-color: red;
    float: left;
}
#camada3{
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: rgb(47, 255, 50);
    clear: left;
}
#camada4{
    position: relative;
    width: 1000px;
    height: 400px;
    background-color: yellow;
    border: 5px solid red;
}
#camada5{
  position: relative;
    width: 1000px;
    height: 50px;
    background-color: grey;
}
