#camada1{
    position: absolute;
    background-color: blue;
    width: 200px;
    height: 100px;
    top: 5px;
    left: 300px;
    text-align: center;
    z-index: 1;
}
#camada2{
    position: absolute;
    background-color: red;
    width: 800px;
    height: 100px;
    top: 5px;
    left: 500px;
    z-index: 2;
    text-align: center;
}
#camada3{
    position: absolute;
    background-color: rgb(0, 255, 0);
    width: 1000px;
    height: 40px;
    top: 105px;
    left: 300px;
    text-align: center;
    z-index: 3;

}
#camada4{
    position: absolute;
    background-color: yellow;
    border: 10px solid red;
    box-sizing: border-box;
    width: 1000px;
    height: 520px;
    top: 145px;
    left: 300px;
    text-align: center;
    z-index: 4;

}
#camada5{
    position: absolute;
    background-color: gray;
    width: 1000px;
    height: 40px;
    top: 665px;
    left: 300px;
    text-align: center;
    z-index: 5;

}