*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: tahoma;
}

#camada1{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: aquamarine;
    border: 5px solid rgb(73, 181, 145);
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    float: left;
}

#camada2{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: violet;
    border: 5px solid blueviolet;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    float: left;
}

#camada3{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: rgb(77, 204, 255);
    border: 5px solid blue;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    clear: left;
}
#fundo{
    position: relative;
    width: 800px;
    height: 700px;
    background-color: wheat;
    margin-left: 25%;
    margin-top: 30px;
}

#camada4{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: pink;
    border: 5px solid palevioletred;
    left: 200px;
    top: 200px;
    text-align: center;
    z-index: 2;
}
